body,
html {
    background-color: #232323;
    color: white;
}


.container-1,
.flex-box-container-1,
.flex-box-container-2 {
    border: 1px solid white;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


.flex-box-container-1,
.flex-box-container-2,
.containor-3 {
    display: flex;
    border: 1px solid white;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-box-container-1 div {
    padding: 10px;
    border: 1px solid white;
    align-items: center;
}

.container-2,
.containor-3 {
    border: 1px solid white;
    width: 75%;
    margin: 20px auto;
    text-align: center;
}



.flex-box-container-2 img {

    border: 1px solid green;
    padding: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 10);
}

.flex-box-container-2 img {
    width: 30%;
    flex-shrink: 0;
    margin: 10px;
}